# bot config
HUBOT_IRC_NICK="myhubot"
HUBOT_IRC_NICKSERV_USERNAME="myhubot"
HUBOT_IRC_NICKSERV_PASSWORD=""
HUBOT_IRC_PORT="6667"
HUBOT_IRC_ROOMS=""
HUBOT_IRC_SERVER="irc.freenode.net"
HUBOT_IRC_UNFLOOD="true"

HUBOT_LOG_LEVEL="warn"

# bing
HUBOT_BING_ACCOUNT_KEY=""

# memegen
HUBOT_MEMEGEN_PASSWORD=""
HUBOT_MEMEGEN_USERNAME=""

# twitter API access
HUBOT_TWITTER_ACCESS_TOKEN_KEY=""
HUBOT_TWITTER_ACCESS_TOKEN_SECRET=""
HUBOT_TWITTER_CONSUMER_KEY=""
HUBOT_TWITTER_CONSUMER_SECRET=""

# wordnik
WORDNIK_API_KEY=""
